HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### yml ###
*.yml
*.yaml

# IntelliJ HTTP Client
*.http
http-client.env.json
http-client.private.env.json
.httpRequests/


# 프론트엔드 요약
FRONTEND_SUMMARY.md

# Redis dump 파일
dump.rdb

# 프론트엔드 폴더
frontend/

# WebConfig (로컬 설정)
src/main/java/com/dentallink/common/config/WebConfig.java

.env
.env.local
.env.*.local
